<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row align-items-start">
        <div class="col-4 form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" maxlength="255" [formControlName]="name"/>
        </div>
    </div>
    <!--
    <div class="row align-items-start">
        <div class="col-4 form-group">
            <label for="dateOfBirth">Date of birth:</label>
            <input id="dateOfBirth" class="form-control" [matDatepicker]="dtpkDateOfBirth" [formControlName]="dateOfBirth">
        </div>
        <div class="col-2 form-group">
            <mat-datepicker-toggle [for]="dtpkDateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #dtpkDateOfBirth></mat-datepicker>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-2 form-group">
            <label for="documentNumber">Document number:</label>
            <input id="documentNumber" class="form-control" type="text" [formControlName]="documentNumber" maxlength="11" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
-->
</form>