<mat-sidenav-container class="container-principal">
  <mat-sidenav mode="side" opened class="side-container">
    <ul class="menu">
      <li class="menu-item"><a href="#" routerLink="/">Home</a></li>
      <li class="menu-item"><a href="#" routerLink="/a-very-big-sum">A very big sum</a></li>
      <li class="menu-item"><a href="#" routerLink="/diagonal-difference">Diagonal difference</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>