.container-principal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-container {
    background-color: lightgrey;
}

.menu {
    list-style-type: none;
    padding-inline-start: 10px;
}